label.status-bar {
    background-color: @theme_base_color;
    padding: 5px;
    border-width: 1px;
    border-style: solid solid none none;
    border-color: @borders;
    border-radius: 0 8px 0 0;
}

button.menuitem {
    padding-top: 1px;
    padding-bottom: 1px;
    margin-top: 0;
    margin-bottom: 0;
}
